*{
    margin: 0;
    padding: 0;
    /* font-family: 'Baloo Bhai 2', cursive; */
    /* font-family: 'Noto Serif', serif; */
    font-family: 'Montserrat', sans-serif;
}

/* Nav bar */
#nav{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#nav::before{
    content: " ";
    position: absolute;
    background-color: rgb(112, 253, 206);
    width: 100%;
    height: 60px;
    z-index: -1;
    padding: 5px 0;
    opacity: 0.8;

}

#nav li{
    margin: 25px 20px;
    display: inline;
    height: 30px;
}

#nav li a{
    border-radius: 20px;
    height: 30px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding: 10px;
    padding-top: 10px;
    /* text-shadow: 1px 0px 1px rgb(255, 215, 129); */
 }

 #nav ul{
    display: flex;
    list-style: none;
}

#nav li a:hover{
    background-color:orange;
    color: azure;
}

#logo img{
    margin:0px 50px;
    height: 70px;
    border-radius: 20px;
}


/* background */

#background{
    display: flex;
    flex-direction: column;
}
#bg2{
    height: 440px;
}

#bg2::before{
    content: " ";
    position: absolute;
    top: 0px ;
    background-image: url('images/bg5.jpg') ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 500px;
    opacity: 0.9;
    z-index: -1;
}


#bg1 img{
    display: block;
    width: 600px;
    opacity: 0.9;
    z-index: -1;
}

#content{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#order{
    background-color: rgb(235, 221, 221);
    margin: 20px;
    border: 2px solid orange;
    padding: 30px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#btn{
    padding: 10px;
    border: 1px solid orange;
    border-radius: 20px;
    font-family: 'Baloo Bhai 2', cursive;
}

#btn:hover{
    background-color: orange;
    border: 3px solid white;
    color: white;
}

